on:
    push: {}
    pull_request: {}
    workflow_dispatch: {}

name: Test

# TODO: Many architectures tested. A few different distros (just ubuntu, debian, fedora for now).
# TODO: Check formatting I guess.
# TODO: Create and publish a code coverage report with K Conv or whatever that thing is.

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Setup Zig
          uses: mlugg/setup-zig@v1
          with:
              version: 0.14.0

        - name: Test in debug mode
          run: zig build test --summary all

        - name: Test in release-fast mode
          run: zig build test --summary all --release=fast

        # NB: There is probably an actual Zig compiler error in Zig 0.14.2 concerning the commit that added SWAP opcode logic since specifically that commit causes specifically ReleaseSafe to fail. Holding off investigation for now as one would need a debug build of Zig itself, and this may be fixed already in 0.15.X or 0.16.X as and when zevem is upgraded to those Zig versions.
        # - name: Test in release-safe mode
        #   run: zig build test --summary all --release=safe
